{{ if len .Params | eq 2 }}
<p align="center">
    <a href="/posts/{{ .Get 0}}-{{ add (int (.Get 1)) 1 }}">Next Lesson</a> |
    {{ if gt (int (.Get 1)) 1 }}
    <a href="/posts/{{ .Get 0}}-{{ sub (int (.Get 1)) 1 }}">Previous Lesson</a> |
    <a href="/posts/{{ .Get 0}}-1">First Lesson</a>
    {{ else }}
    <strong>Previous Lesson</strong> | <strong>First Lesson</strong>
    {{ end }}
</p>

<p align="center">
    Get help on <a href="https://discord.hhenrichsen.me/">Discord</a>
</p>
{{ else }}
{{ errorf "Not enough params. Proper format is `lessonfooter [series] [number`." .Position }}
{{ end }}
